@model IPagedList<EntityLayer.Entities.Ilan>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "AdminIlanListeleme";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>İlanlar</h1>

<p>
    <a asp-action="AdminIlanEkle">Yeni İlan Oluştur</a>
</p>
<style>
    .cssPg {
        margin-right: 10px;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
               İlan Başlığı
            </th>
            <th>
               İlan Açıklaması
            </th>
            <th>
               İlan Fiyatı
            </th>
            <th>
               Metre Karesi
            </th>
            <th>
               Oda Sayısı
            </th>
            <th>
               Bina Yaşı
            </th>
            <th>
              İlanın Fotoğrafı
            </th>
            <th>
              İlanın Tarihi
            </th>
            <th>
              Eşyalı Mı?
            </th>
            <th>
              İlanın Durumu
            </th>
            <th>
              Kategorisi
            </th>
            <th>
              Konut Tipi
            </th>
            <th>
              Şehir
            </th>
            <th>
              Kullanıcı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IlanBasligi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IlanAciklamasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IlanFiyati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IlanMetreKare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IlanOdaSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IlanBinaYasi)
            </td>
            <td>
                    <img src="~/IlanFotograflari/@item.IlanFotografi" style="width:200px;height:200px;border-radius:0%">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IlanTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IlanEsyaliMİ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IlanDurumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kategori.KategoriAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.konutTipi.KonutTipiAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sehir.SehirAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kullanici.KullaniciAdi)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="AdminIlanDuzenle" asp-route-id="@item.IlanID">Düzenle</a> |
                    <a class="btn btn-success" asp-action="AdminIlanDetay" asp-route-id="@item.IlanID">Detay</a> |
                    <a class="btn btn-success" asp-action="AdminIlanSil" asp-route-id="@item.IlanID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("AdminIlanListeleme", new { sayfa }),new X.PagedList.Web.Common.PagedListRenderOptions() { LiElementClasses = new List<string> {"cssPg"} })
<br />
<br />
<a href="~/Ilan/IlanlariExceleAktar" class="btn btn-success">Excele Aktar</a>