@model IPagedList<EntityLayer.Entities.Kategori>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "AdminKategoriListeleme";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Kategoriler</h1>

<p>
    <a asp-action="AdminKategoriEkle">Yeni Kategori Oluştur</a>
</p>
<style>
    .cssPg {
        margin-right: 10px;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>Kategori Adı </th>
            <th>Kategori Durumu </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriDurumu)
            </td>
            <td>
                <a class="btn btn-success" asp-action="AdminKategoriDuzenle" asp-route-id="@item.KategoriID">Düzenle</a> |
                    <a class="btn btn-success" asp-action="AdminKategoriDetay" asp-route-id="@item.KategoriID">Detaylar</a> |
                    <a class ="btn btn-success" asp-action="AdminKategoriSil" asp-route-id="@item.KategoriID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("AdminKategoriListeleme", new { sayfa }),new X.PagedList.Web.Common.PagedListRenderOptions() { LiElementClasses = new List<string> {"cssPg"} })
<br /><br />
<a href="~/Kategori/KategorileriExceleAktar" class="btn btn-success">Excele Aktar</a>
