@using EntityLayer.Entities
@model List<Ilan>
<div id="blog" class="services blog">
	<div class="container">
		<h3 class="w3title">İlanlar</h3>
		<div class="blog-agileinfo">
			@foreach (var item in Model)
			{
				<div class="col-md-4 col-sm-6 blog-w3lgrids">
					<div class="blog-gridtext">
						<div class="blog-w3img">
							<img src="~/IlanFotograflari/@item.IlanFotografi" class="img-responsive zoom-img" alt="" />
						</div>
						<div class="blog-w3imgtext">
							<h4>@item.IlanBasligi</h4>
							<p class="w3-agilep">İlan Sahibi : @item.kullanici.KullaniciAdi &nbsp;&nbsp; İlan Tarihi : @item.IlanTarihi.ToShortDateString() </p>
							<p>@item.IlanAciklamasi</p>
							<p>Fiyat : @item.IlanFiyati₺</p>
							<p>Şehir : @item.sehir.SehirAdi</p>
							<p>Durumu : @item.kategori.KategoriAdi</p>
							<p>Konut Tipi : @item.konutTipi.KonutTipiAdi</p>
							<p>Metre Kare : @item.IlanMetreKare</p>
							<p>Oda Sayısı : @item.IlanOdaSayisi</p>
							<p>Bina Yaşı : @item.IlanBinaYasi</p>
							<p>Eşyalı Mı? : @Html.DisplayFor(modelItem => item.IlanEsyaliMİ)</p>
						</div>
					</div>
				</div>
			}
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
