@model IPagedList<EntityLayer.Entities.MusteriYorum>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "AdminMusteriYorumListeleme";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Müşteri Yorumları</h1>
<style>
    .cssPg {
        margin-right: 10px;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
              Yorum Başlığı
            </th>
            <th>
              Yorum İçeriği
            </th>
            <th>
              Yorum Tarihi
            </th>
            <th>
              Yorum Durumu
            </th>
            <th>
              Kullanıcı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriYorumBaslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriYorumIcerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriYorumTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriYorumDurumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kullanici.KullaniciAdi)
            </td>
            <td>
                <a class="btn btn-success" asp-action="AdminMusteriYorumDetay" asp-route-id="@item.MusteriYorumID">Detay</a> |
                <a class="btn btn-success" asp-action="AdminMusteriYorumSil" asp-route-id="@item.MusteriYorumID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("AdminMusteriYorumListeleme", new { sayfa }),new X.PagedList.Web.Common.PagedListRenderOptions() { LiElementClasses = new List<string> {"cssPg"} })
<br />
<br />
<a href="~/MusteriYorumlari/MusteriYorumlariniExceleAktar" class="btn btn-success">Excele Aktar</a>
