@model EntityLayer.Entities.Kullanici

@{
    ViewData["Title"] = "AdminKullaniciSil";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Kullanıcı Sil</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciEMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciEMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciSifre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciSifre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciDurumu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciFotografAdi)
        </dt>
        <dd class="col-sm-10">
            <img src="~/KullaniciFotograflari/@Model.KullaniciFotografAdi" style="width:100px;height:100px">
        </dd>
 
    </dl>
    
    <form asp-action="AdminKullaniciSil">
        <input type="hidden" asp-for="KullaniciID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a class="btn btn-outline-google" asp-action="AdminKullaniciListeleme">Listeye Geri Dön</a>
    </form>
</div>
