@model IPagedList<EntityLayer.Entities.MusteriMesaj>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "AdminMusteriMesajListeleme";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Müşteri Mesajları</h1>

<style>
    .cssPg {
        margin-right: 10px;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
            Adı Soyadı
            </th>
            <th>
            E-Mail Adresi
            </th>
            <th>
            Mesaj İçeriği
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriAdiSoyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriEMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriMesajIcerik)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="AdminMusteriMesajDetay" asp-route-id="@item.MusteriMesajID">Detay</a> |
                    <a class="btn btn-success" asp-action="AdminMusteriMesajSil" asp-route-id="@item.MusteriMesajID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("AdminMusteriMesajListeleme", new { sayfa }),new X.PagedList.Web.Common.PagedListRenderOptions() { LiElementClasses = new List<string> {"cssPg"} })
<br />
<br />
<a href="~/MusteriMesaj/MusteriMesajExceleAktar" class="btn btn-success">Excele Aktar</a>