@model IPagedList<EntityLayer.Entities.Haber>
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "AdminHaberListeleme";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Haberler</h1>

<p>
    <a asp-action="AdminHaberEkle">Yeni Haber Oluştur</a>
</p>
<style>
    .cssPg {
        margin-right: 10px;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                Haber Başlığı
            </th>
            <th>
                Haberin Alt Başlığı
            </th>
            <th>
                Haberin İçeriği
            </th>
            <th>
                Haberin Fotoğrafı
            </th>
            <th>
                Haberin Tarihi
            </th>
            <th>
               Haberin Durumu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HaberBaslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaberKisaIcerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaberUzunIcerik)
            </td>
            <td>
                    <img src="~/HaberFotograflari/@item.HaberFotografi" style="width:200px;height:200px;border-radius:0%">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaberTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaberDurumu)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="AdminHaberDuzenle" asp-route-id="@item.HaberID">Düzenle</a> |
                    <a class="btn btn-success" asp-action="AdminHaberDetay" asp-route-id="@item.HaberID">Detay</a> |
                    <a class="btn btn-success" asp-action="AdminHaberSil" asp-route-id="@item.HaberID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("AdminHaberListeleme", new { sayfa }),new X.PagedList.Web.Common.PagedListRenderOptions() { LiElementClasses = new List<string> {"cssPg"} })
<br />
<br />
<a href="~/Haber/HaberleriExceleAktar" class="btn btn-success">Excele Aktar</a>