@model IPagedList<EntityLayer.Entities.Hakkinda>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "AdminHakkindaListeleme";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Hakkında</h1>

<p>
    <a asp-action="AdminHakkindaEkle">Yeni Oluştur</a>
</p>
<style>
    .cssPg {
        margin-right: 10px;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                Hakkında Başlık
            </th>
            <th>
                Hakkında Alt Başlık
            </th>
            <th>
                Hakkında İçeriği
            </th>
            <th>
                Hakkında Durumu 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HakkindaBaslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HakkindaAltBaslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HakkindaIcerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HakkindaDurum)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="AdminHakkindaDuzenle" asp-route-id="@item.HakkindaID">Düzenle</a> |
                    <a class="btn btn-success" asp-action="AdminHakkindaDetay" asp-route-id="@item.HakkindaID">Detay</a> |
                    <a class="btn btn-success" asp-action="AdminHakkindaSil" asp-route-id="@item.HakkindaID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("AdminHakkindaListeleme", new { sayfa }),new X.PagedList.Web.Common.PagedListRenderOptions() { LiElementClasses = new List<string> {"cssPg"} })
<br />
<br />
<a href="~/Hakkinda/HakkindalariExceleAktar" class="btn btn-success">Excele Aktar</a>

