@model IPagedList<EntityLayer.Entities.Hizmetler>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "AdminHizmetListeleme";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Hizmeter</h1>

<p>
    <a asp-action="AdminHizmetEkle">Yeni Hizmet Oluştur</a>
</p>
<style>
    .cssPg
    {
        margin-right:10px;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
              Hizmet Adı
            </th>
            <th>
              Hizmet Açıklaması
            </th>
            <th>
              Hizmet Durumu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HizmetAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HizmetAciklamasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HizmetDurumu)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="AdminHizmetDuzenle" asp-route-id="@item.HizmetID">Düzenle</a> |
                    <a class="btn btn-success" asp-action="AdminHizmetDetay" asp-route-id="@item.HizmetID">Detay</a> |
                    <a class="btn btn-success" asp-action="AdminHizmetSil" asp-route-id="@item.HizmetID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("AdminHizmetListeleme", new { sayfa }),new X.PagedList.Web.Common.PagedListRenderOptions() { LiElementClasses = new List<string> {"cssPg"} })
<br />
<br />
<a href="~/Hizmet/HizmetleriExceleAktar" class="btn btn-success">Excele Aktar</a>
