@model IPagedList<EntityLayer.Entities.KonutTipi>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "AdminKonutTipiListeleme";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Konut Tipleri</h1>

<p>
    <a asp-action="AdminKonutTipiEkle">Yeni Konut Tipi Oluştur</a>
</p>
<style>
    .cssPg {
        margin-right: 10px;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
               Konut Tipi Adı
            </th>
            <th>
               Konut Tipi Durumu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KonutTipiAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KonutTipiDurumu)
            </td>
            <td>
                    <a class ="btn btn-success" asp-action="AdminKonutTipiDuzenle" asp-route-id="@item.KonutTipiID">Düzenle</a> |
                    <a class="btn btn-success" asp-action="AdminKonutTipiDetay" asp-route-id="@item.KonutTipiID">Detay</a> |
                    <a class="btn btn-success" asp-action="AdminKonutTipiSil" asp-route-id="@item.KonutTipiID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("AdminKonutTipiListeleme", new { sayfa }),new X.PagedList.Web.Common.PagedListRenderOptions() { LiElementClasses = new List<string> {"cssPg"} })
<br />
<br />
<a href="~/KonutTipi/KonutTipleriniExceleAktar" class="btn btn-success">Excele Aktar</a>