@model IPagedList<EntityLayer.Entities.Sehir>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "AdminSehirListeleme";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Şehirler</h1>

<p>
    <a asp-action="AdminSehirEkle">Yeni Şehir Ekle</a>
</p>
<style>
    .cssPg {
        margin-right: 10px;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
              Şehir Adı
            </th>
            <th>
              Şehir Durumu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SehirAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SehirDurumu)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="AdminSehirDuzenle" asp-route-id="@item.SehirID">Düzenle</a> |
                    <a class="btn btn-success" asp-action="AdminSehirDetay" asp-route-id="@item.SehirID">Detay</a> |
                    <a class="btn btn-success" asp-action="AdminSehirSil" asp-route-id="@item.SehirID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("AdminSehirListeleme", new { sayfa }),new X.PagedList.Web.Common.PagedListRenderOptions() { LiElementClasses = new List<string> {"cssPg"} })
<br />
<br />
<a href="~/Sehir/SehirleriExceleAktar" class="btn btn-success">Excele Aktar</a>
